.save-header {
  background-color: #005cff;
  color: white;
  padding: 1rem;
  display: flex;
  user-select: none;
}

.save-header_title {
  font-weight: 600;
}

.save-header_buttons {
  display: flex;
  margin-left: auto;
  span {
    cursor: pointer;
  }
}

.save-header_save-button {
  display: flex;
  &::after {
    content: '';
    background-color: white;
    width: 1px;
    height: 100%;
    margin: auto $spacing-04;
  }
  &[data-disabled='true'] {
    opacity: 0.5;
  }
}
