.earthquake-list__container {
  background-color: #262626;
}

.earthquake-list__item-loc {
  font-size: 0.875rem;

  .earthquake-list__item-loc__country {
    font-weight: 600;
  }
}

.earthquake-list__item-time {
  font-weight: 100;
  font-size: 0.75rem;
  color: #b3b3b3;
}

.magnitude-box {
  width: 12px;
  height: 12px;
}

.magnitude-box-lg {
  background-color: #fe8758;
}

.earthquake-list__item-mag {
  font-weight: 600;
}

.bx--structured-list-row {
  cursor: pointer;
  &:hover,
  &[data-sim-hover='true'] {
    background: #393939;
  }
}
