.events-map__row {
  padding: 1rem;
  background-color: #262626;
}

.events-map__container {
  position: relative;
  height: 600px;
}

.events-map-filter__container {
  background-color: #262626;
  border-bottom: 1px solid #c8c8c8;
}

.events-map-filter {
  padding-left: 0;
  padding-right: 0;
}

.events-map-filter__container .bx--dropdown {
  border-bottom: none;
  background-color: #262626;
}

.events-map-filter__container .bx--list-box {
  border-bottom: none;
  background-color: #262626;
}

.events-panel {
  position: relative;
  display: flex;
  flex-flow: column;
  > div:not(:first-child) {
    margin-top: $spacing-03;
  }
  .bx--structured-list {
    margin: 0;
  }
  .events-panel__information,
  .bx--dropdown {
    background: #393939;
  }
}

.event-details__map {
  width: 300px;
}

.map-wrapper {
  z-index: 0;
}

.dashboard__container[data-logged-in="false"] .map-wrapper {
  left: 0;
  top: 0;
}

@media only screen and (max-width: $events-map-mobile-threshold) {
  .dashboard__container[data-logged-in="true"] .events-container {
    left: 48px;
    top: 48px;
  }
  .events-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .map-wrapper {
    height: 40%;
  }
}

@media only screen and (min-width: $events-map-mobile-threshold) {
  .map-wrapper {
    position: absolute;
    top: 48px;
    right: 0;
    left: 48px;
    bottom: 0;
  }

  .events-panel {
    position: absolute;
    right: $layout-02;
    top: calc(#{$layout-02} * 3);
    bottom: $layout-02;
    width: 311px;
  }

  .event-details__map {
    width: 400px;
  }

  .earthquake-list__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
}


.events-panel__information {
  padding: $layout-01;
  display: grid;
  grid-template-columns: 1fr 1fr;
  span {
    font-size: 0.7rem;
  }
}

.events-page-earthquake-list__container {
  flex-grow: 1;
  position: relative;
}

.earthquake-tooltip {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;

  .earthquake-tooltip__header {
    font-weight: 600;
  }

  > div {
    width: max-content;
    position: absolute;
    background: #3d3d3d;
    padding: $spacing-05;

    > h3 {
      margin: $spacing-03 0;
    }
    > .field {
      margin-top: 0;
    }
  }
  .earthquake-tooltip__inline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing-05;
    margin-top: $spacing-05;
    &:not(:last-child) {
      margin-bottom: $spacing-06;
    }
    .field {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .earthquake-tooltip__btn-cancel {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .earthquake-tooltip__arrow {
    $width: 20px;
    width: $width;
    position: absolute;
    left: calc(50% - #{$width} / 2);
    &[data-position='bottom'] {
      top: -10px;
    }
    &[data-position='top'] {
      bottom: -10px;
      transform: rotateZ(180deg);
    }
  }

  .earthquake-tooltip__inline-flex {
    display: flex;
    > button,
    .earthquake-tooltip__btn-cancel {
      padding: $spacing-03 calc(#{$spacing-03} * 2);
      width: max-content;
    }
    > .bx--btn--ghost {
      color: #b3b3b3;
    }
    > :not(:first-child) {
      margin-left: $spacing-05;
    }
  }
}
