.events-map__row {
  padding: 1rem;
  background-color: #262626;
}

.events-map__container {
  position: relative;
  height: 600px;
}

.map-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events-map-filter__container {
  background-color: #262626;
  border-bottom: 1px solid #c8c8c8;
}

.events-map-filter {
  padding-left: 0;
  padding-right: 0;
}

.events-map-filter__container .bx--dropdown {
  border-bottom: none;
  background-color: #262626;
}

.events-map-filter__container .bx--list-box {
  border-bottom: none;
  background-color: #262626;
}
