.sensors-side-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: $layout-02 $layout-03;
  width: 460px;
  background-color: #2c2c2c;
  border-left: 1px solid #515151;
  z-index: 8500; // header is at 8000, keep above 8000

  .bx--toast-notification {
    width: 100%;
    color: #fff;
    background-color: #393939;

    border-left: 3px solid #70a4ff;

    .bx--toast-notification__icon {
      fill: #70a4ff;
    }

    a {
      color: #70a4ff;
    }
  }

  .sensors-side-panel__close {
    background: 0;
    border: none;
    margin-left: auto;
    cursor: pointer;
    > svg {
      color: #f4f4f4;
    }
  }

  .tag-owner {
    margin-left: 40px;

    @media only screen and (max-width: $medium) {
      display: none;
    }
  }

  .sensors-side-panel__button[disabled] {
    border: 1px solid #616161;
    color: #616161;
    cursor: auto;
  }

  @media screen and (max-width: $medium) {
    width: 100%;
  }
}

.sensors-side-panel__header {
  display: flex;
  justify-content: center;
}

.sensors-side-panel__title {
  display: flex;
  align-items: center;
}

.button-label {
  display: flex;
  align-items: center;
  margin-top: $layout-05;

  svg {
    width: 16px;
    height: 16px;
    margin-right: $spacing-04;
  }
}

.sensors-side-panel__updateLink {
  border: none;
  background: none;
  color: #70a4ff;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.sensors-side-panel__updatingToast {
  position: relative;

  .bx--toast-notification__icon {
    visibility: hidden;
  }

  .bx--loading {
    position: absolute;
    top: 4px;
    left: 7px;
  }

  .bx--loading--small {
    width: 2.5rem;
    height: 2.5rem;
  }

  .bx--toast-notification__subtitle {
    margin-top: 0.5rem;
    color: #d0d0d0;
  }
}

.sensors-side-panel__button {
  margin-top: $layout-01;
  border: 1px solid white;
  background-color: transparent;
  padding: $spacing-04 $spacing-05;
  color: #fff;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &[data-testing-sensor='true'] {
    color: #ff5d5d;
    border: 1px solid #ff5d5d;
  }
}

.body-no-scroll {
  overflow-y: hidden;
}

.sensors-side-panel__restarting {
  display: flex;
  align-items: center;
  position: relative;
  left: -8px;
  height: 50px;
  margin-top: 10px;
  color: #9c9c9c;

  p {
    margin-left: $spacing-02;
    font-size: 0.875rem;
  }
}

.bx--pagination {
  overflow-x: hidden;
}
