@import '@carbon/themes/scss/themes';

$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

$feature-flags: (
  ui-shell: true,
);

@import 'carbon-components/scss/globals/scss/styles.scss';

.app-content {
  padding: $layout-05;
  max-width: 1600px;
}
