.events-page-heading__container {
  margin-bottom: $layout-03;
}

@media screen and (max-width: 1312px) {
  .events-page-earthquake-list__container {
    margin-top: $layout-03;
    padding-left: 0;
    padding-right: 0;
  }
}
