.dashboard-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  max-width: 1600px;
}

.bx--row {
  margin-top: $layout-03;
}

.sensors-page__tile {
  @media screen and (max-width: $small) {
    margin-bottom: $layout-02;
  }
}
