.bx--side-nav {
  background-color: #161616;
}

.bx--side-nav__icon > svg {
  fill: #ffffff;
}

.bx--side-nav__link:hover svg {
  fill: blue;
}

a.bx--side-nav__link > .bx--side-nav__link-text {
  color: #ffffff;
}

