.userinfo-parent {
  width: fit-content;
}

.userinfo {
  background: #393939;
  padding: $layout-01;
  width: fit-content;
  max-width: 100%;
  min-width: 339px;
  position: relative;
}

.userinfo-edit {
  display: inline-grid;
  grid-template-rows: auto;
  grid-gap: $layout-02;
  width: 100%;
}

.userinfo_header {
  user-select: none;
  .userinfo_title {
    font-weight: 600;
  }
  .userinfo_edit {
    float: right;
    padding: 0;
    min-height: fit-content;
  }
}
