{
  "extends": "ibm",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": { "node": true, "es6": true },
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": [
      "error",
      {
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "linebreak-style": "off"
  }
}
