$small: 672px;

@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint.scss';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import 'carbon-components/scss/globals/scss/vars.scss';

@import './content/Dashboard/Dashboard.scss';
@import './components/SideMenu/SideMenu.scss';
@import './components/Tile/Tile.scss';
