.bx--tile {
  background-color: #262626;
}

.tile_heading {
  @include carbon--type-style('expressive-heading-01');
}

.tile__secondary {
  padding-top: $spacing-03;
  padding-bottom: $spacing-01;
}

.tile__secondary h3 {
  @include carbon--type-style('expressive-heading-05');
}
